* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*NavBar*/
header nav{
    margin: 16px 120px;
    justify-content: space-between;
    display: flex;
}

header nav img{
    width: 139px;
    height: 60PX;
}

header nav a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
}

nav ul{
    align-items: center;
    list-style: none;
    display: flex;
    gap: 32px;
}

nav button{
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

/*Hero Section*/
#hero{
    padding-bottom: 100px;
}

#hero .hero-content{
    background-image: url(assets/hero-bg.png);
    max-width: 1600px;
    max-height: 674px;
    background-repeat: no-repeat;
}
#hero .hero-content .content-div{
    align-items: center;
    text-align: center;
    padding: 115.5px 120px 79.5px 120px;
}

#hero .hero-content span{
    background-color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}

#hero .hero-content h1{
    margin: 16px auto;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
}

#hero .hero-content .first{
    color: #ffffff;
}

#hero .hero-content .second{
    color: #469165;
}

#hero .hero-content p{
    padding: 16px 295px 0px 295px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 32px;
}

#hero .hero-content .primary{
    width: 251px;
    height: 52px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-right: 16px;
}

#hero .hero-content .secondary{
    width: 198px;
    height: 52px;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

/*Notes Section*/

#notes{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 120px;
    text-align: center;
}

#notes h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
}

#notes p{
    padding-top: 16px;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

#notes .notes-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 44px;
}

#notes .notes-card .card{
    max-width: 322px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.notes-card .card-img{
    margin: 0 auto;
    height: 60px;
    width: 60px;
    background: #F95555;
    color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#notes .notes-card .card h2{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}

#notes .notes-card .card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

#second-brain{
    max-width: 1360px;
    margin: 0 auto;
    padding: 120px;
    text-align: center;
}

#second-brain .second-brain-content{
    display: flex;
    align-items: center;
    gap: 60px;
}

.second-brain-content .image-div img{
    max-width: 600px;
    max-height: 600px;
    border-radius: 12px;
}

.second-brain-content .text-div{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.second-brain-content .text-div h3{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
}

.second-brain-content .text-div h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    width: 636px;
    max-height: 116px;
}

.second-brain-content .text-div p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.second-brain-content ul{
    margin-top: 24px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.second-brain-content ul li img{
    margin-right: 6px;
    width: 20px;
    height: 20px;
}

.second-brain-content ul li{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}