/*NavBar*/
header nav{
    margin: 16px 120px;
    justify-content: space-between;
    display: flex;
}

header nav img{
    width: 139px;
    height: 60PX;
}

header nav a{
    text-decoration: none;
    color: black;
    font-weight: 500px;
    font-size: 16px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

nav button{
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}